block content 
  title Document
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  header.text-center.text-white
    h1.display-4  Lista de Pedidos
  .row.py-5
    .col-lg-10.mx-auto
      .card.rounded.shadow.border-0
        .card-body.p-5.bg-white.rounded
          .table-responsive
            table#example.table.table-striped.table-bordered(style='width:100%')
              thead
                tr
                  th Usuario
                  th Latitud
                  th Longitud
                  th Precio
              tbody
                | {{#each results}}
                tr
                  td {{this.name}}
                  td {{this.lat}}
                  td {{this.lon}}
                  td {{this.price}}
                |                 {{/each}}