block content 
  title Document
  header.text-center.text-white
    h1.display-4  Lista de Pedidos
  .row.py-5
    .col-lg-10.mx-auto
      .card.rounded.shadow.border-0
        .card-body.p-5.bg-white.rounded
          .table-responsive
            table#example.table.table-striped.table-bordered(style='width:100%')
              thead
                tr
                  th Usuario
                  th Latitud
                  th Longitud
                  th Precio
              tbody
                | {{#each results}}
                tr
                  td {{this.name}}
                  td {{this.lat}}
                  td {{this.lon}}
                  td {{this.price}}
                |                 {{/each}}